@charset "UTF-8";
/* CSS Document */

/*globals*/
html, body, a, p, h1, h2, h3, div{
	font-family:Helvetica, Arial, sans-serif;
}

body{
	margin:0;	
}
#wrapper{

	width: 980px;
	margin: 0 auto;
	padding:0;
}
h1{
	font-weight:100;	
}

a{
	color:#1349A1;	
}
a#home {
width: 150px;
height: 70px;
background: transparent;
opacity: .4;
position: absolute;
display: block;
left: 0px;
top: 30px;
text-indent: -9999px;
}
/*page structure*/
#header{
	border-bottom:solid 1px #ccc;
	position: relative;
}

#titleBlock{
	width:980px !important;
	margin:0 0 0 0px;
	height:60px;
}

#leftRail{
	width:300px;
	position:absolute;
	top:160px;
	left:0px;
	padding:10px 10px 10px 40px;
	z-index:2;
	left: 50%;
	margin-left:-540px
}

#rightRail{
	width:660px;
	margin-left:300px;
	background:#F5F5F5;
	padding:20px 0 20px 20px;
	z-index:1;
	overflow:hidden;
}

#footer{
	width:900px;
	padding-top:20px;
}


/*font styles*/
#titleBlock h1{
	font-size:18px;	
}



/*left rail contents*/
#thumbGroup img{
	padding-left:10px;
	padding-right:10px;	
	border-right:solid 1px #ccc;
}

#thumbGroup img:last-child {
	padding-right:0 !important;	
	border:none;
}

/*nav styles*/
#nav{
	margin-top:0;
	z-index:3 !important;	
}

#navPointer{
	z-index:2;
	
}

#nav div{
	display:block;
	font-size:13px;
	font-weight:bold;
	height:38px;
	width:321px;
	padding-left:10px;
	padding-top:12px;
	text-decoration:none;
	cursor:pointer;
	margin:0;
	color:#1349A1;
}

#nav div.active{
	color:#333333;	
}

#bo{
	background:url(../img/navTab_bo_off.png) no-repeat !important;
}

#bo:hover{
	background:url(../img/navTab_bo_hover.png) no-repeat !important;
}

#bo.active{
	background:url(../img/navTab_bo_on.png) no-repeat !important;
}

#pd{
	background:url(../img/navTab_pd_off.png) no-repeat !important;
}

#pd:hover{
	background:url(../img/navTab_pd_hover.png) no-repeat !important;
}

#pd.active{
	background:url(../img/navTab_pd_on.png) no-repeat !important;
}

#rv{
	background:url(../img/navTab_rv_off.png) no-repeat !important;
}

#rv:hover{
	background:url(../img/navTab_rv_hover.png) no-repeat !important;
}

#rv.active{
	background:url(../img/navTab_rv_on.png) no-repeat !important;
}

#acc{
	background:url(../img/navTab_acc_off.png) no-repeat !important;
}

#acc:hover{
	background:url(../img/navTab_acc_hover.png) no-repeat !important;
}

#acc.active{
	background:url(../img/navTab_acc_on.png) no-repeat !important;
}


/*right rail contents*/
#rightRail div{
	padding-top:80px;
}

#rightRail div:first-child{
	padding-top:0;
}

/**/

/**/


#new, #used, #refurb, #local, #all, #bundles{
	display:none;
}
/*----------------------------------
	Media Queries
-----------------------------------*/
@media screen and (max-width:1080px){
	#leftRail{
		position:absolute;
		top:160px;
		left:0px;
		padding:10px 10px 10px 40px;
		z-index:2;
		left: 0;
		margin-left:0;
	}
}