/*----------------------------------
	CSS RESETS
-----------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Helvetica, arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after{
	content: '.';
	height: 0;
	line-height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}
a{
	color: #255CB2;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.red{
	color: #DF505A;
}
strong{
	font-weight: bold;
}
.f-left{
	float: left;
	margin-right: 5px;
}
a#home{
	width: 150px;
	height: 70px;
	background: transparent;
	opacity: .4;
	position: absolute;
	display: block;
	left: 0;
	top: 30px;
	text-indent: -9999px;
}
/*----------------------------------
	Main Formatting
-----------------------------------*/
#wrapper{
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#main-conent{
	position: relative;
	padding-top: 100px;
}
#header{
	height: 100px;
/* 	width: 770px; 
	background:url(../img/colorBar.gif), #EAEAEA;
	background-image :url(../img/colorBar.gif), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0,#EAEAEA), color-stop(.10,#fff)); 
	background-image :url(../img/colorBar.gif), -webkit-linear-gradient(-45deg,#EAEAEA 0%, #fff 10%);
	background-image :url(../img/colorBar.gif), -moz-linear-gradient(-45deg,#EAEAEA 0%, #fff 10%);
	background-image :url(../img/colorBar.gif), -o-linear-gradient(-45deg,#EAEAEA 0%, #fff 10%);
	background-image :url(../img/colorBar.gif), -ms-linear-gradient(-45deg,#EAEAEA 0%, #fff 10%);
	background-image :url(../img/colorBar.gif), linear-gradient(-45deg,#EAEAEA 0%, #fff 10%);*/
	background-repeat: no-repeat;
	background: #fff url(../img/global_header.jpg);
	border-bottom: 1px solid #ccc;
	position: fixed;
	top:0;
	width: 980px;
	z-index: 100;
}
#lefty{
	width: 210px;
	float: left;
	position: relative;
	z-index: 0;
	background: url(../img/placeholders/sidebar2.jpg) no-repeat;
	height: 699px;
}
#righty{
	/* background: green; */
	width: 320px;
	float: right;
	position: fixed;
	left: 50%;
	margin-left: 170px;
	z-index: 0;
}
#center{
	width: 770px;
	position: relative;
}
#list-container{
	width: 450px;
	/* background: green; */
	float: left;
	-webkit-box-shadow: 6px 0 6px rgba(0,0,0,.3), -6px 0 6px rgba(0,0,0,.3);
	-moz-box-shadow: 6px 0 6px rgba(0,0,0,.3), -6px 0 6px rgba(0,0,0,.3);
	box-shadow: 6px 0 6px rgba(0,0,0,.3), -6px 0 6px rgba(0,0,0,.3);
	z-index: 10;
	position: relative;
}
#list-container #list{
	position: relative;
	z-index: 20; /*// must stay higher than detail slider */
	margin-top: 40px;
}

/* Hidden Slider*/
#center #slider-container{
	width: 320px;
	height: 698px;
	background: #fff;
	position: fixed;
	left: 50%;
	z-index: 10;
	margin-left: -200px;
	border: 1px solid #999999;
}

span.price,
span.current{
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
	display: block;
}

span.price strong, span.current strong{
	display: block;
	color: #222;
	font-size: 14px;
	
}
span.current strong{
	font-size:14px;
}
a span.price,
a span.current,
span.shipping{
	color: #888;
}

span.price sup, span.current sup{
	color: #222;
	font-size: x-small;
	vertical-align: text-top;
}

/*----------------------------------
	Panel Styles
-----------------------------------*/
#slider-container .mini-gallery{
	margin-bottom: 15px;
}
#slider-container .close-panel{
	background: url(../img/closePanel.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 20px;
	height: 20px;
	display: block;
	text-indent: -9999px;
	padding: 10px;
	float: right;
}
#slider-container #panel-details{
	padding: 15px;
}

#panel-details a.more strong{
	font-size: 13px;
	line-height: 1.2;
	max-width: 80%;
	display: block;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 18px;
}
#panel-details a.more span{
	background: url(../img/moreChevron.png);
	background-repeat: no-repeat;
	background-position: right center;
	display: block; 
	float: right;
	width: 22px;
	height: 21px;
}
#panel-details p{
	font-size: 12px;
	clear: both;
	color: #666;
	margin: 5px 0;
}
#panel-details span{
	font-size: 14px;
	float: right;
}
#panel-details span strong{
	font-weight: bold;
	color: 111;
}
#panel-details sup{
	color: #222;
	font-size: x-small;
	vertical-align: text-top;

}
/* details table */
#panel-details #left-details,#panel-details #right-pricing{
	margin-top: 20px;
}
#panel-details #left-details{
	padding: 15px;
	padding-bottom: 15px;
	background: #F4F4F4;
	width: 150px;
	border: 1px solid #E3E3E3;
	float: left;
	margin-bottom: 15px;
}
#panel-details #right-pricing{
	float: right;
	text-align: left;
	width: 95px;
	padding-top: 10px;
	font-size: 12px;
	color: #666666;
}
#right-pricing p{
	font-size: 10px;
	line-height: 1.3em;
}
#right-pricing a{
	margin-bottom: 20px;
	display: block;
	font-weight: bold;
}
#right-pricing a:hover{
	color: ##255CB2;
}
#right-pricing a strong{
	margin-bottom: 5px;
}
#right-pricing span.price strong{
	font-size: 22px;
}
#right-pricing  span.shipping strong{
	font-size: 12px;
	margin-bottom: 3px;
}
#panel-details table td{
	font-size: 11px;
	line-height: 2.8em;
}
#panel-details td strong{
	font-size: 13px;
	color: #333;
}
#panel-details table td.title{
	padding-right: 10px;
	color: #8D8D8D;
	text-align: left;
}
#panel-details .sell-score:hover{
	text-decoration: none;
}
#panel-details .sell-score{
	background: url(../img/badgeSm.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 17px;
	display: block;
	line-height: 1.8em;
	color: #000;
	font-size: 14px;
}
#panel-details .sell-score span{
	color: #255CB2;
	font-size: 12px;
}
table hr{
	display: block;
	border: none;
	border-bottom: 1px solid #E3E3E3;
	margin: 15px 0;
}
#panel-details p.desc{
}
/*----------------------------------
	Header Styles
-----------------------------------*/
#header #logo{
	width: 210px;
	height: 100%;
	text-align: center;
	float: left;
}
#header #logo img{
	padding-top: 30px;
}
 .bar{
	background: #dfdfdf;
	background-image:-moz-linear-gradient(top, #f1f1f1, #dfdfdf);
	height: 42px;
	line-height: 42px;
	padding: 0 10px;
	position: relative;
}
#list #title-bar{
	position: fixed;
	width: 430px;
	z-index: 10;
	top: 100px;
}
.bar h2{
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(255,255,255,.7);
	font-weight: bold;
	color: #333;
	display: inline;
}
.bar h2 strong{
	font-size: 18px;
}

/*----------------------------------
	Nav styles
-----------------------------------*/
#nav-wrapper{
	width: 770px;
	float: left;
	margin-top: 2px;
	display: none;
}
#nav-wrapper a.drop{
	background: url(../img/nav_carat.png);
	background-repeat: no-repeat;
	background-position: 92% 58%;
	padding-right: 15px !important;
}
#top-nav{
	background: #ececec;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF),to(#ECECEC));
	background: -webkit-linear-gradient(top, #FFFFFF, #ECECEC);
	background: -moz-linear-gradient(top, #FFFFFF, #ECECEC);
	background: -o-linear-gradient(top, #FFFFFF, #ECECEC);
	background: -ms-linear-gradient(top, #FFFFFF, #ECECEC);
	background: linear-gradient(top, #FFFFFF, #ECECEC);

	float: left;
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
}
#top-nav a{
	color: #363636;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	border-right: 1px solid #e2e2e2;
	position: relative;
}
#top-nav a:hover{
	text-decoration: underline;
}
#top-nav #left li:last-child a{
	border: none;
}
#top-nav #right li:first-child a{
	border: none;		
}
#top-nav #left li,
#top-nav #right li{
	padding: 10px 0px;
}
#top-nav #left a,
#top-nav #right a{
	display: block;
	padding: 0 10px;
}
/*----------------------------------
	Top Nav Left
-----------------------------------*/
#top-nav #left{
	float: left;
	width: 450px;
}
#top-nav #left .user{
	float: left;
}
#top-nav #left li{
	float: left;
}
/* -- special link styles --*/
#pofile span.on{
	color: #406DC1;
	font-weight: bolder;
}
#user span{
	font-weight: normal;
	color: #B0B0B0;
}
#top-nav a#noti{
	padding-right: 30px;
}
#top-nav span.icon{
	color: #fff;
	text-align: center;
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	font-size: 110%;
}
#top-nav a#noti span{
	background: url(../img/bubble.png);
	background-repeat: no-repeat;
	background-position:  0px 0;
	width: 21px;
	height: 15px;
	top: -2px;
	right: 6px; 
	line-height: 15px;
	text-indent: 4px;
	
}
#top-nav a#cart{
	padding-right: 50px;
}
#top-nav a#cart span{
	background: url(../img/kart.png);
	background-repeat: no-repeat;
	top: -3;
	right: 8px;
	width: 37px;
	height: 18px;
	text-indent: 22px;
	font-size: 110%;
	line-height: 22px;
}
/*----------------------------------
	Top Nav Right
-----------------------------------*/
#top-nav #right{
	float: right;
	width: 320px;

}
#top-nav #right li{
	float: right;
}
/*----------------------------------
	Search Bar Nav
-----------------------------------*/

#search-nav{
	float: left;
	width: 640px;
	padding: 6px 8px;
	background: #F6F6F6;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,.4);
	box-shadow: inset 0 0 3px rgba(0,0,0,.4);
	left: 178px;
	right: 0;
	top: 50px;
	position: absolute;
}
#search{
	position: absolute;
	top: -2px;
	right: -153px;
}
#search-nav li{
	float: left;
	padding: 2px 5px;
	color: #464646;
	font-size: 12px;
}
#search-nav li:nth-last-child(2){
	border-right: 1px solid #666;
}
#search-nav .menu-item{
	background: #fff;
	margin: 0 5px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.4);
	box-shadow: 0 0 2px rgba(0,0,0,.4);

}
#search-nav .menu-item a{
	font-size: 10px;
	text-decoration: none;
	color: #555;
}
#search-nav .menu-item a.close{
	background: url(../img/nav_x.png);
	background-repeat: no-repeat;
	background-position: center -1px;
	display: inline-block;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
}
/*----------------------------------
	Search Button		
-----------------------------------*/	
#search{
	float: right;
}
#search li a{
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding-right: 10px;
	text-decoration: none;
	letter-spacing: 1.1;
	/* Background */
	background: #91BB20;
	background-image: url(../img/w-karat.png), -webkit-linear-gradient(top, #9acb00, #83ad00);
	background-image: url(../img/w-karat.png), -moz-linear-gradient(top, #9acb00, #83ad00);
	background-image: url(../img/w-karat.png), -o-linear-gradient(top, #9acb00, #83ad00);
	background-image: url(../img/w-karat.png), -ms-linear-gradient(top, #9acb00, #83ad00);
	background-image:url(../img/w-karat.png), linear-gradient(top, #9acb00, #83ad00);
	background-repeat: no-repeat;
	background-position: 85% 50%;
	padding: 8px 36px 8px 25px;
}	
/*----------------------------------
	CENTER Styles
-----------------------------------*/
#title-bar #list-toggle-nav{
	position: absolute;
	left: 160px;
	top: 12px;
	z-index: 10;
	width: 50px;
}
#title-bar .headtoggle{
	display: block;
	float: left;
	width: 22px;
	height: 30px;
	text-indent: -9999px;
	left: 200px;
}
#title-bar .headtoggle.list{
	background: url(../img/gridSprite.png) no-repeat;
	background-position: 0px 0;
}
#title-bar .headtoggle.list:hover, 
#title-bar .headtoggle.list.current{
	background-position: -44px 0;	
}
#title-bar .headtoggle.grid{
	background: url(../img/gridSprite.png) no-repeat;
	background-position: -22px 0;
	left: 225px;
}
#title-bar .headtoggle.grid:hover, 
#title-bar .headtoggle.grid.current{
	background-position: -66px 0;	
}

#center #title-bar form{
	float: right;	
}
/*----------------------------------
	Center Lsit Styles
-----------------------------------*/

#list li{
	padding: 15px 10px;
	padding-right: 0;
	background: #fff;
	border-bottom: 1px solid #EDEDED;
	border-top: 1px solid #EDEDED;
	position: relative;
	
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-o-transition: background .2s linear;
	-ms-transition: background .2s linear;
	transition: background .2s linear;
	
}

#list li:hover, 
#list li.deselect:hover{
	cursor: pointer;
	background: #F2F5FF;
}
#list li ul li:hover, 
#list li.deselect:hover ul li{
	cursor: default;
	background: transparent;
}
#list li.current-panel:hover{
	cursor: default ;
}
#list li.deselect{
	background: #F1F1F1;
	border-bottom-color: #DEDEDE;
}
#list li.current-panel{
	background: #fff;
	border-top: 1px solid #999999;
	border-bottom-color: #999999;
	border-right: 1px solid #fff;
	width: 440px;
}
#list li .right a:hover{
	text-decoration: none;
}
#list li.current-panel .toggle-arrow{
	display: none;
}
#list li.desl{
	background: #F2F2F2;
}
#list a.toggle-arrow{
	background: url(../img/list_arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	width: 12px;
	height: 21px;
	position: absolute;
	text-indent: -9999px;
	right: 10px;
	top: 45%;
}
#list li:after{
	content: '.';
	height: 0;
	line-height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}
#list>li a img{
	float: left;
	margin-right: 15px;
}
#list figcaption{
	float: left;
	width: 265px;
}
#list li .left{
	float: left;
	width: 180px;
}

#list li .left a{
	font-weight: bold;
	font-size: 12px;
	letter-spacing: .05em;
	display: block;
	margin-bottom: 5px;
	line-height: 1.2;
}
#list li .left h5{
	font-size: 10px;
	color: #9A9A9A;
	font-weight: bold;
	margin-bottom: 8px;
	line-height: 1.5;
}
#list li .left h5 span{
	display: block;
	color: #5F5F5F;
}
#list .left a.seller-stats{
	color: #555;
	font-size: 10px;
	background: url(../img/badgeSm.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 19px;
	padding-left: 18px;
	display: block;
	height: 18px;
}
#list .left a.seller-stats span{
	font-weight: normal;
}

/*Center  list right styles */

#list li .right{
	float: right;
	width: 70px;
}
#list li .right a{
	color: #888888;
	line-height: 1.2;
}
#list figcaption ul{
	margin-left: 10px;
}
#list figcaption ul li{
	list-style-type: disc;
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-size: 12px;
	color: #888;
}
/*----------------------------------
	Center mini History
-----------------------------------*/
#center #mini-hist.closed{
	top: 60px;
}
#center #mini-hist.open{
	top: 141px;
}
#center #mini-hist{
	background: #fff;
	height: 70px;
	width: 450px;
	-moz-box-shadow: 0px 10px 6px -4px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 10px 6px -4px rgba(0,0,0,.3);
	-ms-box-shadow: 0px 10px 6px -4px rgba(0,0,0,.3);
	-o-box-shadow: 0px 10px 6px -4px rgba(0,0,0,.3);
	box-shadow: 0px 10px 6px -4px rgba(0,0,0,.3);
	z-index: 5;
	position: fixed;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;

}
#center #mini-hist li{
	float: left;
	border: none;
	margin: 10px 8px;
	padding: 0;
	height: inherit;
}
#center #mini-hist li img{
	border: 1px solid #eee;
}
#center #mini-hist h2{
	color: #979797;
	border: none;
	font-size: 14px;
	font-weight: bold;
	float: left;
	text-align: right;
	max-width: 60px;
	margin-top: 5%;
	margin-left: 10px;
}
#center #mini-hist li:last-child {
	background: #F3F3F3;
	border: 1px solid #CACACA;
	padding: 3px;
	position: absolute;
	top: -2px;
	width: 38%;
	right: -8px;
	top: -4px;
	font-size: 12px;
}
#center #mini-hist li:last-child img{
	float: left;
	margin-right: 10px;
}
#center #mini-hist li:last-child span{
	position: absolute;
	top: 15px;
	max-width: 110px;
	overflow: hidden;
	white-space: inherit;
	text-overflow: ellipsis;
}
/*----------------------------------
	Righty Styles
-----------------------------------*/
#righty-titlebar{
	background: #F9F9F9;
}
#righty-titlebar h2{
	background: url(../img/title_arrow.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 15px;
	font-size: 60%;
}
#righty-titlebar h2 strong{
	font-size:14px;
}
#righty li{
	border-bottom: 1px solid #dadada;
	position: relative;
	background: #F9F9F9;
}
#righty li.padded{
	padding: 15px;
}
#righty li h3{
	color: #646464;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}
#righty li p{
	font-size: 10px;
	line-height: 1.4;
}
#righty p.overlay{
	position: absolute;
	bottom: 0;
	z-index: 2;
	background: rgba(255,255,255,.9);
	padding: 10px 10px 10px 15px;
	font-size: 12px;
	width: 295px;
	line-height: 1;
}
#righty p.overlay.right{
	width: 80px;
	font-size: 11px;
	line-height: 1.1;
	right: 0;
	top: 0;
	padding: 10px 0px 10px 10px;
}
#righty p.overlay.right.wide{
	width: 90px;
	padding: 15px;
	background: transparent;
}
#righty p.overlay strong{
	font-weight: bold;
}
#righty a:hover span{
	text-decoration: underline;
}

#righty p.overlay a.more{
	background: url(../img/rtCaratBlue.jpg);
	background-repeat: no-repeat;
	background-position: right 47%;
	padding-right: 10px;
} 
#righty a .caps{
	text-transform: uppercase;
}
#righty p.overlay span{
	float: right;
	display: block;
} 
#righty li.padded.feat{
	min-height: 85px;
}
#righty li.padded.feat+li{ /* adjacent selector ie7+*/
	padding-top: 30px;
}
#righty li.padded.feat img{
	position: absolute;
	z-index: 1;
}
/* Icon list style */
#righty .icon-list li{
	border: none;
}
#righty .icon-list li:after{
	clear: none;
}
#righty li:after{
	content: '.';
	height: 0;
	line-height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}
#righty .icon-list li a{
	display: block;
	float: left;
	text-align: center;
	width: 85px;
	margin-right: 12px;
	font-size: 12px;
	position: relative;
}
#righty .icon-list li:last-child a{
	margin-right: 0;
}
#righty .icon-list li a span{
	display:block;
	margin-top: 5px;
}
/*----------------------------------
	CSS3 MEDIA Queries
-----------------------------------*/
@media screen and (max-width:980px){
	#righty{
		position: absolute;
	}
}